[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[functions]
  directory = "../netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200